#burger-menu {
  position: relative;
  cursor: pointer;
}

#burger-menu div {
  transition:0.3s;
}
#burger-menu.active div {
  transform: translateY(21px) rotate(-50deg);
}

#burger-menu:after, #burger-menu:before {
  content: '';
  position:absolute;
  width: 32px;
  height: 2px;
  background:black;
  transition:0.3s;
}

#burger-menu:after {
  top: 10px;
}
#burger-menu.active:after {
  transform: translateY(11px) rotate(-50deg);
}
#burger-menu:before {
  bottom: 10px;
}
#burger-menu.active:before {
  transform: rotate(50deg);
}

#menu-links.active {
  display: block !important;
  border-bottom: solid 2px gray;
  opacity: 1;
}